.networked {
  color : #6699cc;
  font-family : Trebuchet MS, Verdana, Helvetica, sans-serif;
}

.planet {
  color : #99cc00;
  font-family : Trebuchet MS, Verdana, Helvetica, sans-serif;
}

.pageheader {
  border-bottom : 2px inset #6699cc;
}

a {
  color : #6699cc;
}

#topnav {
  padding : 0px;
  margin : 0px;
  margin-top : 5px;
  font-weight : bold;
}

#subnav {
  padding : 0px;
  margin : 0px;
  margin-left : 3em;
  margin-top : 3px;
  font-size : 90%;
}

#topnav li , #subnav li {
  display : inline;
  padding : 3px;
  padding-left : 0.5em;
}

#topnav li a , #subnav li a {
  text-decoration : none;
  color : #99cc00;
}

#topnav li a:hover , #subnav li a:hover {
  color : #6699cc;
}

#main {
  margin : 10px;
  background-color : white;
  width : 72%;
  float : left;
  padding-right : 10px;
  border-right : thin black solid;
}

#news {
  width : 22%;
  float : right;
  margin-left : 5px;
}

.titled-para img {
  float : left;
  margin-right: 1.2em;
}

.itemlink {
  text-align : right;
}

.news-item {
  padding-bottom : 6px
  border-bottom : thin black solid;
}

.headline {
  font-weight : bold;
}

.date {
  font-size : 85%;
  font-style : italic;
}
.teaser {
  padding-top : 3px;
  font-size : 85%;
}

.figure {
  margin : 6px;
}
.figure .caption {
  text-align : center;
  font-size : small;
}

img {
  background-color : white;
}

.tmcore {
  color : #cc0000;
}