@import url("default.css");

a { 
  color : blue;
}

body {
  padding-left : 3em;
  padding-right : 3em;
}

.title {
  font-family : Trebuchet, Verdana, sans-serif;
}

.example .title, .table .title {
  font-size : smaller;
}


.programlisting {
  border : 2px blue solid;
  background-color :  #6699cc;
  margin-bottom : 1ex;
  padding-left : 1em;
  padding-right : 1em;
}

.note {
  border : 2px green solid;
  background-color : #99cc00;
  margin-left : 0px;
  margin-right : 0px;
  margin-bottom : 1ex;
  padding-left : 1em;
  padding-right : 1em;
}

.note .title {
  margin-top : 0px;
}

.remark {
  color : red;
  font-weight : bold;
  background : yellow;
}

.literallayout {
  font-family : monospace;
  background-color : #dddddd;
  border : thin black solid;
  padding : 1em;
  margin : 0;
}

.filename { 
  font-weight : bold;
}

.warning {
  border : 2px red solid;
  background-color : #cc6600;
  margin-bottom : 1ex;
  padding-left : 1em;
  padding-right : 1em;
  margin-left : 0px;
  margin-right : 0px;
}

.warning .title {
  margin-top : 0px;
}

.navheader img {
  border : none;
}

.navfooter img {
  border : none;
}